
/* Your CSS Code here. */
body{
    background-color: rgb(8, 175, 92);
}
img{
    border: 5px dotted blue;
    border-radius: 50%;
}
h3{
    color: rgb(8, 62, 109);
}
h1{
    color: rgb(187, 176, 170);
}